<ion-view view-title="Calorific">
    
    <ion-header-bar-subheader align-title="left" class="bar-positive">
    <div>
        Search Foods:
    <input type="text" ng-model="searchText">
  </div>
  
</ion-header-bar-subheader>
    <ion-content>
      
      <ion-list>
        <ion-item ng-repeat="food in foods | filter:searchText">
         <button class="ion-android-add button-positive" ng-click="addCal(food)">
          {{food.name}} {{food.portion}} {{food.calories}}
          </button>
        <ion-item>
      </ion-list>
    </ion-content>

          

</ion-view>




        
    

          